.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
    box-shadow: 2px 2px 10px black;;
    border-bottom: 4px solid rgba(28, 201, 28, 0.8);
    max-width:320px;
    width: 30vw;
    min-width:300px;
    background-color: rgba(200,200,200,0.99);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}
